*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ol,ul{
    list-style-type: none;
}
body{
    color: #fff;
    background-color: blanchedalmond;
}
#todo{
    height: 100vh;
    background-color: blanchedalmond;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
#main{
    width: 800px;
    height: 600px;
    background: #040b3cdd;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.welcomeMessage{
    font-size: 50px;
    text-transform: capitalize;
    text-align: center;
    margin-top: 50px;
}
.projectName{
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    margin-top: 20px;
}
.navItem{
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: rgb(225, 250, 5);
    border: 1px solid rgb(225, 255, 0);
    padding: 10px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
}
.navItem:hover{
    background-color: rgb(225, 250, 5);
    color: #040b3cdd;
}